---
import Base from "../../layouts/Layout.astro";
import Card from "../../components/Card_invite.astro";
import { allParticipants } from "../../../backend/backend.mjs";
import HeroImage from "../../assets/img/index1.svg";
import { Image } from "astro:assets";

const invites = await allParticipants();
const baseUrl = "http://127.0.0.1:8090/";
const defaultPhotoUrl = "/path/to/default/photo.svg";
---

<Base titre="NOS INVITÉS">
    <div class="mt-100">
        <section
            class="relative w-full h-96 flex items-center justify-center text-center text-white bg-cover bg-center"
        >
            <Image
                src={HeroImage}
                alt="Ciné'Nature"
                width={1920}
                height={1080}
                class="absolute inset-0 w-full h-96 object-cover"
            />
            <div class="absolute inset-0 bg-black bg-opacity-20"></div>

            <div class="relative z-10 px-8 max-w-4xl">
                <h1
                    class="text-6xl md:text-8xl font-extrabold uppercase tracking-wide"
                >
                    Nos Invités
                </h1>
                <p
                    class="mt-4 text-2xl md:text-3xl font-semibold text-green-500 bg-white bg-opacity-75 px-4 py-2 rounded-md inline-block"
                >
                    Découvrez nos invités
                </p>
            </div>
        </section>

        <section class="max-w-6xl mx-auto my-12 px-6 text-center">
            <h1 class="text-5xl font-bold text-green-600 mb-8">Invités</h1>
            <div class="grid md:grid-cols-3 gap-12">
                {
                    invites.map((invite) => {
                        const photoUrl = invite.photo
                            ? `${baseUrl}/api/files/invite/${invite.id}/${invite.photo}`
                            : defaultPhotoUrl;
                        return (
                            <Card
                                titre={`${invite.prenom} ${invite.nom}`}
                                diffusion={invite.role}
                                affiche={photoUrl}
                                collectionId="Invite"
                                recordId={invite.id}
                            />
                        );
                    })
                }
            </div>
        </section>
    </div>
</Base>
